//OPTIONAL IF YOU WANT TO USE REMOTE DATABASE (CHOOSE ONE IN TWO)
REMOTE_DATABASE_URL=
REMOTE_DATABASE_USERNAME=
REMOTE_DATABASE_PASSWORD=

//OPTIONAL IF YOU WANT TO USE LOCAL DATABASE (CHOOSE ONE IN TWO)
DATABASE_URL=
DATABASE_USERNAME=
DATABASE_PASSWORD=

//REQUIRED
SECRET_KEY=